@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --emerald-500: #00c48c;
  --emerald-600: #00d68f;
}

/* Custom text selection styles */
::selection {
  background-color: rgba(1, 161, 254, 1);
  color: #000000; /* White text */
}

/* For Mozilla Firefox */
::-moz-selection {
  background-color: rgba(64, 64, 64, 0.8);
  color: #ffffff;
}

.markdown strong {
  color: black;
}